.wrapper > *:not(:last-child) {
  margin-bottom: 20px;
}

.title {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: left;
  align-items: baseline;
  gap: 20px;
}

.hhTitle {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.seo h1 {
  margin: 0;
  font-weight: 500;
  font-size: 26px;
  line-height: 35px;
}

.seo h2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
}

.seo h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin: 0;
}
