.advantage {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 10px 40px;
  margin-bottom: 30px;
}

.vline {
  width: 1px;
  margin-left: 25px;
  border-left: 1px solid var(--gray-light);
}

.title {
  align-self: center;
  font-weight: bold;
}
