.footer {
  display: grid;
  background: var(--primary);
  padding: 15px 30px;
  grid-template-columns: 1fr auto auto;
  gap: 10px 40px;
  color: var(--white);
  font-size: 14px;
  line-height: 20px;
}

.footer a:hover {
  color: var(--gray-light);
}

@media (max-width: 765px) {
  .footer {
    grid-template-columns: 1fr;
  }
}
